$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}


.scene-navigator {
    border: 2px solid black;
}

#scene-x {
  img { 
    width: 100%
  }
  li {
    list-style-type: none
  }
  .scene-navigator {
    text-align: center;
    width: 40%;
    padding: 12px 18px;
    float: right;
    position: relative;
    bottom: -15px;
    left: -40px;
    background-color: white;
    h3 {
      font-size: 20px;
      margin: 0px;
    };
    @media (max-width: 700px) and (min-width: 501px) {
      left: -18px;
      padding: 6px 9px;
      width: 42%;
      h3 { 
        font-size: 14px;
      }
    }
    @media (max-width: 500px) {
      left: -8px;
      padding: 6px 9px;
      bottom: -8px;
      width: 48%;
      h3 { 
        font-size: 10px;
      }
    }    
  }
}


.sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
  -webkit-transition:all linear 5s;
  -moz-transition:all linear 5s;
  -o-transition:all linear 5s;
  transition:all linear 5s;
  display:block!important;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
  opacity:0;
}

.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}