$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

}


#scene-navigator {
    padding: 12px;
    border: 2px solid black;
    height: 100px
}
