$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

}


.scene-navigator {
    border: 2px solid black;
}

#scene-x {
  img { 
    width: 80%
  }
  li {
    list-style-type: none
  }
  .scene-navigator {
    text-align: center;
    width: 250px;
    padding: 5px;
    float: right;
    position: relative;
    left: -150px;
    bottom: -5px;
    background-color: white;
    h3 {
      font-size: 16px;
      margin: 0px;
    }
  @media (max-width: 700px) {
    max-width: 200px;
    padding: 2px;
    left: -80px;
    h3 { 
      font-size: 12px;
    }
  }
  }
}
